#chance
    margin-bottom: 150px

    svg
        font-size: 36px

    h3
        margin-bottom: 0px

    a
        margin-top: 30px

    .bg-grey
      transition: .2s

      h3, svg
        color: $white
        transition: .2s

    .bg-grey:hover
      background: $white
      transition: .2s

      h3, svg
        color: $black !important
        transition: .2s
