#hero2
  height: fit-content
  padding-top: 70px
  display: flex
  flex-direction: column
  justify-content: center
  margin-bottom: 100px
  box-shadow: $shadow
  position: relative

  @include lg
    margin-bottom: 50px
    margin-top: 100px

  .col-12
    position: relative

  h1
    color: $white
    font-size: 8vw
    margin-bottom: 50px
    z-index: 0

    @include lg
      font-size: 12vw
      margin-bottom: 30px

    &.load__effect
      z-index: 3
      position: relative

    &.active
        svg
          animation: circle .5s linear forwards

    svg
      transform: translate(-50%, -50%)
      position: absolute
      left: 50%
      width: 50%
      stroke-dasharray: 1200
      stroke-dashoffset: 1200
      z-index: -1
      // animation: dash-reverse .5s linear forwards

    .animate
      animation: dash .5s linear forwards

  p
    color: $white
    font-size: 1.2rem
    margin-bottom: 50px
