#icons
    margin-bottom: 150px

    img
        height: 100px

    h3
        color: white

    h2
      color: $white

      &.title
        font-size: 3vw
        @include lg
          text-align: center

    p
      color: $color2
